.main-nav {
  position: absolute;
  background-color: @white;
  color: @text-color;
  border-radius: 8px;
  min-width: 310px;
  padding: 20px 30px;
  display: none;
  top: 5.4em;
  right: 1.4em;
  z-index: 10;

  &__list {
    list-style-type: none;
  }

  &__item {

    &:not(:last-child) {
      border-bottom: 1px solid #d5d1cf;
    }
  }

  &__link {
    display: block;
    color: currentColor;
    line-height: 50px;
    letter-spacing: 0.03em;

    span {
      color: #8f8480;
    }
  }

  &--is-active {
    display: block;
  }
}