<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item"><a href="#" class="main-nav__link">Новая анкета</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Отправить карту BORK</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Выгрузить в клуб Nespresso</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Дополнение анкеты</a></li>
    <li class="main-nav__item"><a href="#" class="main-nav__link">Объединение анкет <span>(2)</span></a></li>
  </ul>
</nav>