.promo {
  background-image: url(../img/bg-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  &__desc {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin: 0;
    text-align: center;
    max-width: 517px;
    margin-bottom: 1.25em;
  }
}