<div class="promo">
  <h1 class="main-title">Добро пожаловать в мир BORK</h1>
  <p class="promo__desc">Заполните анкету, чтобы получить электронную гарантию, первым узнавать о новинках компании, эксклюзивных предложениях, мастер-классах и других событиях</p>
  <a href="#" class="btn">Заполнить анкету</a>
</div>