<header class="page-header">
  <div class="page-header__logo">
    <div class="logo">
      <svg width="80" height="16" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="nonzero"><path d="M69.004 7.556l9.757-6.378a.386.386 0 0 0-.196-.734H75.06a.95.95 0 0 0-.54.156l-9.315 6.267V.924a.481.481 0 0 0-.482-.48h-2.285a.481.481 0 0 0-.473.48v14.187c.018.248.223.44.473.445h2.285a.481.481 0 0 0 .482-.445V8.516l9.82 6.884c.154.11.34.169.53.169h3.522a.395.395 0 1 0 .205-.742L69.004 7.556zM38.792 9.462h-3.45v3.48H24.711v-3.48h-3.455v3.182c0 2.023 1.022 2.912 3.29 2.912h10.957c2.267 0 3.29-.89 3.29-2.925V9.462zM35.507.444H24.55c-2.267 0-3.29.89-3.29 2.925V6.55h3.45V3.076h10.632V6.55h3.45V3.387c.01-2.031-1.013-2.943-3.285-2.943M15.548 7.951a2.444 2.444 0 0 0 2.164-2.422V3.373c.031-2.017-.99-2.929-3.258-2.929H1.372A.555.555 0 0 0 .82 1v14.018c.007.299.253.538.553.538h12.631c2.513 0 3.861-1.032 3.861-2.965V10.37a2.445 2.445 0 0 0-2.316-2.418zM4.055 3.031h9.065c.892 0 1.339.422 1.339 1.276v1.16c0 .83-.447 1.253-1.34 1.253H4.056V3.031zm10.488 8.707c0 .83-.446 1.253-1.339 1.253h-9.15V9.302h9.141c.893 0 1.34.422 1.34 1.271l.008 1.165zM59.078 14.84l-5.9-4.996h1.999c2.267 0 3.29-.888 3.29-2.924V3.364c0-2.013-1.032-2.924-3.312-2.924H42.84a.575.575 0 0 0-.576.573v14.098c.018.251.229.445.482.445h2.258c.26.01.481-.187.5-.445V9.844h3.2l6.476 5.503c.183.15.415.227.652.217h3.008a.395.395 0 1 0 .237-.729v.005zM45.51 3.027h8.332c.893 0 1.34.422 1.34 1.27v1.779c0 .83-.447 1.253-1.34 1.253H45.51V3.027z"/></g></svg>
    </div>
  </div>
  <div class="page-header__burger">
    <div class="burger">
      <span></span>
    </div>
  </div>
</header>