.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-height: 55px;
  border-bottom: 1px solid @border-color;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &__logo {
    transform: translateY(3px);
  }

  &__burger {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
}