.checkbox {
  position: relative;
  display: inline-block;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__hidden {
    display: none;

    &:checked ~ .checkbox__field {
      border-color: transparent;
      background: @pumpkin;
    }

    &:checked ~ .checkbox__field:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }

  &__field {
    position: relative;
    top: 1px;
    width: 25px;
    height: 25px;
    border: 1px solid @russet;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: inline-block;
  }

  &__field:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    width: 6px;
    height: 13px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }

  &__label {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0.125rem;
    font-size: 16px;
    margin-left: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
    color: #8F8480;
    line-height: 1.7em;
  }
}