.complete {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__cover {
    margin-bottom: 1.8em;
  }

  &__desc {
    font-family: @font-family--heading;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
  }
}