.combining {
  padding-top: 5rem;

  &__title {
    text-align: center;
  }

  &__form {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: @border-color;
      width: 1px;
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
      height: ~'calc(100% - 160px)';
    }
  }
}