.btn {
  position: relative;
  display: inline-block;
  min-width: 228px;
  background-color: transparent;
  background-image: none;
  color: @text-color--light;
  padding: 1.25em 2.1em;
  border: 1px solid @btn-border-color;
  border-radius: 10em;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}