.additional {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 1rem;
  }

  &__name {
    font-family: @font-family--heading;
    font-size: 22px;
    line-height: 30px;
  }

  &__form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }
}