@font-face {
  font-family: 'Akzidenz-Grotesk Pro Ext';
  src: url('../fonts/akzidenzgroteskpro-ext.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro-md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}