a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: @bg-color-default;
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color--light;
  font-size: @font-size;
  line-height: @line-height;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 0.5em;
  max-width: 35em;
}

h1, h2, h3, h4, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: @font-family--heading;
  font-weight: 400;
  font-style: normal;
}

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 700;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  outline: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

/* Form Validation Errors */
.error {
  border-bottom: 1px solid red!important;
}

.error-message {
  position: absolute;
  right: 0;
  bottom: 1rem;
  font-size: 0.75rem;
  color: red;
  font-style: italic;
  margin-bottom: 1em;
}

/* Change Autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: @pumpkin;
  -webkit-box-shadow: 0 0 0px 1000px @bg-color-default inset;
  transition: background-color 5000s ease-in-out 0s;
  border-bottom: 1px solid @border-color;
}