// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@pumpkin:                     #F37021;
@wood-bark:                   #2e2826;
@russet:                      #746661;
@kilamanjaro:                 #3a3330;

@text-color:                  @wood-bark;
@text-color--light:           @white;

@bg-color-default:            @kilamanjaro;

@border-color:                rgba(255,255,255,0.1);

@burger-color:                @russet;

@btn-border-color:            @pumpkin;


// Typography

// Main size
@font-size:                   100%;
@font-size--desktop:          112.5%;

// Custom
// @font-size--h1:               2.5em;
// @font-size--h2:               2em;
// @font-size--h3:               1.5em;
// @font-size--h4:               1.25em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
// @font-size--small:            0.75em;
// @font-size--accent:           1.25em;

// Perfect Fifth
// @font-size--h1:               5.063em;
// @font-size--h2:               3.375em;
// @font-size--h3:               2.25em;
// @font-size--h4:               1.5em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
@font-size--small:            0.667em;
@font-size--accent:           1.25em;

// Perfect Fourth
// @font-size--h1:               3.157em;
// @font-size--h2:               2.369em;
// @font-size--h3:               1.777em;
// @font-size--h4:               1.333em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
// @font-size--small:            0.75em;
// @font-size--accent:           1.125em;

@font-family--heading:        "Akzidenz-Grotesk Pro Ext";

@font-family:                 "Akzidenz-Grotesk Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@line-height:                 1.425em;
@line-height--desktop:        1.5em;
@line-height--heading:        1.1em;