.enter-the-code {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__form {
    margin-top: 40px;
  }

  &__form-group {
    margin-bottom: 40px;

    input {
      background-color: @wood-bark;
      color: @pumpkin;
      font-weight: 300;
      font-size: 4rem;
      width: 195px;
      border: 0;
      border-radius: 8px;
      text-align: center;
      padding: 0.5rem;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}