.burger {
  width: 40px;
  height: 40px;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    background-color: @burger-color;
    width: 16px;
    height: 1px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 1px;
      display: inline-block;
      background-color: @burger-color;
    }

    &::before {
      top: -0.4rem;
    }

    &::after {
      bottom: -0.4rem;
    }
  }
}