.form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-top: 3rem;

  &__title {
    margin-bottom: 30px;
    margin-left: 0.5rem;
    flex: 1 0 100%
  }

  &__group {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0;
    display: flex;
    flex-flow: row wrap;

    &--half {
      width: 50%;
    }

    &--submit {
      justify-content: center;
      padding: 0;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    .btn {
      margin-bottom: 1rem;
    }
  }

  &__subgroup {
    flex: 1 0 100%;

    &--half {
      flex: 1 0 50%;
    }

    &--third {
      flex: 1 0 30%;
    }
  }

  &__label {
    position: absolute;
    font-size: 1rem;
    bottom: 0.3rem;
    left: 0.1rem;
    color: #8F8480;
    transition: all 0.25s ease 0s;
  }

  &__select {
    width: 100%;
    background: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    transform: translate(-6px,6px);
    color: #8F8480;
  }

  &__input-group {
    position: relative;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    min-height: 35px;

    input {
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid @border-color;
      width: 100%;
      font-size: 16px;
      line-height: 2em;
      color: @pumpkin;
      position: relative;

      &::-webkit-input-placeholder {
        color: transparent;
      }

      &:hover,
      &:active {
        border-bottom: 1px solid @pumpkin;
      }

      &:focus {
        border-bottom: 1px solid @pumpkin;

        & ~ label {
          font-size: 0.75rem;
          bottom: 1.75rem;
        }

        &::-webkit-input-placeholder {
          color: transparent;
        }
      }
    }

    &--with-border {
      border-bottom: 1px solid @border-color;
    }
  }
}

.is-active {

  & ~ label {
    font-size: 0.75rem;
    bottom: 1.75rem;
  }
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 30px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  height: 36px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  padding-left: 2px;
  padding-right: 2px;
  color: #8F8480;
  border-bottom: 1px solid @border-color;

  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #8F8480 transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 6px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    border-bottom: 1px solid @pumpkin;

    &:after {
      top: 9px;
      border-color: transparent transparent #8F8480 transparent;
    }
  }
}

.select-options {
  height: 200px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @bg-color-default;
  border: 1px solid @border-color;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  li {
    color: #8F8480;
    margin: 0;
    padding: 6px 0;
    text-indent: 15px;
    border-top: 1px solid @border-color;

    &:hover {
      color: @text-color--light;
      background-color: @pumpkin;
    }

    &[rel="hide"] {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: @bg-color-default;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: @bg-color-default;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #8F8480;
    height: 50px;
  }
}